//colors
$background-color:hsl(229, 57%, 11%);
$color-fylo-card:hsl(228, 56%, 26%);
$color-second-card: hsl(228, 56%, 26%);
$color-slide-1:hsl(6, 100%, 80%);
$color-slide-2:hsl(335, 100%, 65%);
$color-white-card:white;

